body {
  margin:0;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(#e8f5e9,#c8e6c9);
}
header {
  background:#81c784;
  color:#1b5e20;
  padding:20px;
  text-align:center;
}
nav a{
  margin:10px;
  text-decoration:none;
  font-weight:bold;
  color:#1b5e20;
}
.card{
  background:white;
  max-width:800px;
  margin:30px auto;
  padding:25px;
  border-radius:20px;
}
.left,.right{
  position:fixed;
  top:0;
  width:80px;
  height:100%;
  background:#a5d6a7;
}
.left{left:0}
.right{right:0}
